

html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}



.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.performance{
  margin: 5% 0%;
}
.jetpack{
  width: 112%;
  height: 600px;
}
.descript>img{
  margin: 5% 20%;
}
footer {
    margin: 50px 0;
}
